---
// https://v1.tailwindcss.com/components/cards

import StarRatingComponent from "react-star-rating-component";
const { title, subtitle, baseurl, slug, image, tags, stars } = Astro.props;
---

<div class="h-full max-w-md mx-auto rounded-md shadow-lg">
  <a href={`${baseurl}/${slug}`}>
    <div class="h-full max-w-sm rounded shadow-lg">
      { image &&
        <div class="">
          <img class="rounded-t-md h-48 object-fit w-96" src={image.src} alt={image.alt} />
        </div>
      }
      <div class="flex flex-col justify-start flex-1">
        <div class="px-6 py-4">
          <div class="mb-2 text-xl font-bold">{title}</div>
          <p class="text-base text-gray-700 line-clamp-4">
            {subtitle}
          </p>
        </div>
        <div class="flex flex-col px-1 shrink-0">
          <div class="pt-1 mb-2 px-3">
            {
              tags &&
                tags.map((tag) => (
                  <span class="inline-block text-gray-700 rounded-full hover:bg-gray-200">
                    <a href={`/use-cases/${tag?.slug}`} class="text-xs font-semibold">#{tag?.title}</a>                      
                  </span>
                ))
            }
          </div>
          {
            stars && (
              <div class="flex justify-end">
                <StarRatingComponent
                  name="rate2"
                  editing={false}
                  starCount={5}
                  value={stars}
                />
              </div>
            )
          }
        </div>
      </div>
    </div>
  </a>
</div>
