---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
const {data, more} = Astro.props

---

<Container>
  <Sectionhead>
    <Fragment slot="title">News</Fragment>
    <Fragment slot="desc">
      Best resources for AI from around the world.
    </Fragment>
  </Sectionhead>
  <main class="mt-16 flex flex-col space-y-6">
      {data.map(item=>
        <a href={item.url} target="_blank">
            <div class="flex items-start w-full hover:bg-stone-300 p-2 rounded-lg">
                <div class="rounded h-16 w-16 shrink-0">
                  <img
                    src={item.image.src}
                    alt={item.image.alt || item.name}
                    class="object-cover w-full h-full overflow-hidden rounded shadow"
                  />
                </div>
                <div class="flex flex-col pl-4">
                  <p class="font-bold text-lg text-stone-900 dark:text-gray-100">
                    {item.title}
                  </p>
                  <p class="text-sm font-normal text-gray-600 dark:text-gray-300">{item.subtitle}</p>
                </div>
          </div>          
        </a>
      )}
    { more &&
      <div class="flex justify-end px-6 py-6">
        <a href={more} class="text-blue-600 underline hover:text-blue-800 visited:text-purple-600">more...</a>
      </div>
    }
  </main>
</Container>