---
import Container from "./Container.astro";
import { getFormattedDate } from "@utils/all";
import { log } from "astro/dist/core/logger/core";

const { frontmatter } = Astro.props;
---

<Container title={frontmatter.title}>
  {frontmatter && 
    <div class="mx-auto max-w-[735px] mt-14">
      <span class="text-sm font-medium tracking-wider text-blue-400 uppercase">
        {frontmatter.category}
      </span>
      <h1
        class="mt-1 text-4xl font-bold lg:text-5xl lg:tracking-tight lg:leading-tight">
        {frontmatter.title}
      </h1>
      <div class="flex flex-wrap items-center gap-2 mt-3 md:flex-nowrap">
        <span class="text-gray-400">
          {frontmatter.author}
        </span>
        <span class="text-gray-400">•</span>
        <time class="text-gray-400" datetime={frontmatter.publishDate}>
          {getFormattedDate(frontmatter.publishDate)}
        </time>
        <span class="hidden text-gray-400 md:block">•</span>

      </div>
    </div>
  }

  <slot />
      
  {backTo && 
    <div class="mt-8 text-center">
      <a
        href={back.href}
        class="px-5 py-3 transition bg-gray-100 rounded-md hover:bg-gray-200"
        {back.text}
      </a>
    </div>
  }

</Container>
